.tag-container {
	margin-bottom: 24px;
}

.tag {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	padding: 0 16px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	outline: 0;
	letter-spacing: 0.5px;
	border: none;
	border-radius: 2px;
	margin-bottom: 2px;
}
